body{
    background-image: url(images/dark.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav h,a{
    text-decoration: none;
    color: aqua;
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
}

.nav{
    list-style-type: none;
    margin-top: 20vh;
    margin-right: 20px;
}
.s,a{
    margin-bottom: 1vh;
    margin-right: 10vh;
}
.h,a{
    margin-bottom: 1vh;
}
.b,a{
    margin-bottom: 1vh;
}
.cont{
    color: red;
    margin-left: 36vh;
    margin-top: -28vh;
}
.call{
    margin-left: 9vh;
    margin-top:5vh;
    color: white;
}
.nice{
    height: 40vh;
    width: 40vh;
    margin-left: 115vh;
}
.gmail{
    color: white;
    margin-left: 9vh;
    margin-top: 3vh;
}
.add{
    color: white;
    margin-left: 9vh;
}
.namelink{
    color: white;
    margin-left: 9vh;
    margin-top: 3vh;
}
.namelink1{
    margin-top: -4vh;
    margin-left: 9vh;
    color: whitesmoke;
}
.dub{
    margin-left: 30vh;
    margin-top: 3vh;
    color: wheat;
}
.information{
    position: absolute;
    background-color: rgb(75, 104, 129);
    margin-top: 5vh;
    margin-left: 40vh;
    width: 80vh;
    height: 50vh;
    border-radius: 50px;
    border: 10px darkmagenta double;
}

.information li{
    list-style-type: none;
    margin-top: 6.5vh;
}
.mobile{
    position: absolute;
    margin-top:5.5vh;
    margin-left: 5vh;
    color: white;
}
.mail{
    position: absolute;
    color: white;
    margin-left: 5vh;
    margin-top: 1vh;
}
.linkedin{
    position: absolute;
    color: white;
    margin-left: 5vh; 
    margin-top: 1vh;
    font-size: 3vh;
    
} 
.location{
    position: absolute;
    color: white;
    margin-left: 5vh;
    margin-top: 0.5vh;
}
.git{
    position: absolute;
    margin-left: -5vh;
    font-size: 3vh;
    color: white;
    margin-top: 0.5vh;
}



