body{
    background-image: url(images/sky.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.mydetails img{
    display: flx;
    width:15vh;
    height:  18vh;
    
}
.name{
    margin-top: -15vh;
    margin-left: 18vh;
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.role{
    margin-left: 17.9vh;
    margin-top: -2.5vh;
    color: whitesmoke;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav h,a{
    text-decoration: none;
    color: aqua;
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
}

.nav{
    list-style-type: none;
    margin-top: 20vh;
    margin-right: 20px;
}
.s,a{
    margin-bottom: 1vh;
    margin-right: 10vh;
}
.h,a{
    margin-bottom: 1vh;
}
.b,a{
    margin-bottom: 1vh;
}
h1{
    padding-top: 5vh;
    margin-left: 10vh;
    color: wheat;
    
    
    
}
h2{
    margin-left: 10vh;
    color: white;
   
    
}
h3{
    margin-left: 10vh;
    color: wheat;
}

.linking li{
    display: inline-block;
    color: darkblue;
    margin-left: 5vh;
    list-style-type: none;
    font-size: 3vh;
    

}
.linking .mail {
    margin-left: 1vh;
}
.linking .git{
    margin-left: 0.5vh;
}
.det{
    background-color: rgb(119, 106, 187);
    margin-top: -25vh;
    margin-left: 50vh;
    width: 90vh;
    height: 50vh;
    border: 10px darkmagenta double;
    border-radius: 50px;
}